@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
  .bg-dots {
    background-image: radial-gradient(circle, rgb(15 45 72) 2px, #061829 2px);
    background-size: 3rem 3rem;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
}

html,
body {
  overflow-x: hidden;
}
